<div class="bg-dark"></div>
<div class="home-information">
	<h1 class="slogan">Simple swipe can change your life!</h1>
   <%= link_to 'auth/facebook', class: "btn btn-social btn-lg btn-facebook" do %>
   <i class="fa fa-facebook"></i> Sign in with Facebook
   <% end %>
   <br> <br>
</div>


<script type="text/javascript">

$(function(){
   $.supersized({
   		slide_interval: 4000,
   		transition: 1,
   		transition_speed: 700,
   		slide_links: "blank",
   		slides: [
   			{image: 'http://i.imgur.com/ja6LSo5.jpg'},
   			{image: 'http://i.imgur.com/ijeR6Hq.jpg'},
   			{image: 'http://i.imgur.com/Yv13QoF.jpg'}
   		] 
   });
});

</script>